*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.vittoria{
    color: green;
}

.sconfitta{
    color: red;
}

.si{
    color: green;
}

.no{
    color: red;
}